Repository kiforks/kifor-stylelint-config, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, plugin, ci, configuration, docs, root

feat [DEV-1]: Add new configuration for the tsconfig
  tsconfig.json
Labels: root

feat [DEV-1]: Add paths to the jest configuration file
  jest.config.js
Labels: root

feat [DEV-1]: Add root .stylelintrc.js file to git ignore
  .gitignore
Labels: root

feat [DEV-1]: Remove .stylelintrc.js file from the root
  .stylelintrc.js
Labels: root

feat [DEV-1]: Remove old commitlint.config.js file
  commitlint.config.js
Labels: root

feat [DEV-1]: Add changelog description
  CHANGELOG.md
Labels: docs, root

feat [DEV-1]: Change the character limit for branch names
  .husky/pre-push
Labels: none

.github/labeler.yml:

tests:
  - changed-files:
      - any-glob-to-any-file: '**/*.spec.ts'
      - any-glob-to-any-file: '**/*.spec.js'

plugin:
  - changed-files:
      - any-glob-to-any-file: 'src/core/plugin'

ci:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

configuration:
  - changed-files:
      - any-glob-to-any-file: 'src/index.ts'

docs:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

root:
  - changed-files:
      - any-glob-to-any-file: '*'
